.DS_Store
.env

!appdata
appdata/*
!appdata/grafana
!appdata/influxdb
!appdata/prometheus
!appdata/telegraf
!appdata/traefik2
!appdata/uptime-kuma
!appdata/wikijs

!logs
logs/*
!logs/onlyoffice
logs/onlyoffice/*
!logs/traefik2
logs/traefik2/*