.DS_Store
.env

appdata/grafana/*
!appdata/grafana/.gitkeep
appdata/influxdb/*
!appdata/influxdb/.gitkeep
appdata/prometheus/*
!appdata/prometheus/.gitkeep
appdata/traefik2/*
!appdata/traefik2/.gitkeep
appdata/umami/*
!appdata/umami/.gitkeep
appdata/uptime-kuma/*
!appdata/uptime-kuma/.gitkeep

!logs/onlyoffice
logs/onlyoffice/*
logs/traefik2/*
!logs/traefik2/.gitkeep
