.DS_Store
.env

appdata/grafana/*
!appdata/grafana/.gitkeep
appdata/influxdb/*
!appdata/influxdb/.gitkeep
appdata/paperless-ngx/broker/*
!appdata/paperless-ngx/broker/.gitkeep
appdata/paperless-ngx/consume/*
!appdata/paperless-ngx/consume/.gitkeep
appdata/paperless-ngx/data/*
!appdata/paperless-ngx/data/.gitkeep
appdata/paperless-ngx/db/*
!appdata/paperless-ngx/db/.gitkeep
appdata/paperless-ngx/export/*
!appdata/paperless-ngx/export/.gitkeep
appdata/paperless-ngx/media/*
!appdata/paperless-ngx/media/.gitkeep
appdata/prometheus/*
!appdata/prometheus/.gitkeep
appdata/telegraf/*
!appdata/telegraf/.gitkeep
appdata/traefik2/*
!appdata/traefik2/.gitkeep
appdata/umami/*
!appdata/umami/.gitkeep
appdata/uptime-kuma/*
!appdata/uptime-kuma/.gitkeep
appdata/wikijs/*
!appdata/wikijs/.gitkeep

logs/traefik2/*
!logs/traefik2/.gitkeep